body {
    margin: 0;
    padding: 0;
    font-family: 'Thasadith', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    background-image: url(/room_project/assets/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    
}

.vertical-align {    
    min-height: 100%;
    min-height: 100vh;
}

.container {
    min-width: 576px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    background-color: transparent;
    border: 0;
}

.card-body {
    opacity: 0.9;
    background-color: #ffffff;
}

.h1, h1 {
    font-size: 2rem;
}

.card-deck {
    
    display: inline;
    flex-direction: row;
    
}

.padding {
    padding: 0;
}

@media (min-width: 768px) {   
    .card-deck {
    display: flex;
} 
 .card-deck .card {
     margin: 0;
 }

 .container .vertical-align {
     padding: 0;
 }
}


@media (min-width: 992px) { 
    .container {
        padding: 0;
    }
    .card-deck .card {
        margin-left: 15px;
        margin-right: 15px;
    }
}
